body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    position: absolute;

}
h2 {
    text-align: center;
}
.buttons button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    background-color: antiquewhite;
    border: none;
    border-radius: 1em;
    width: 5em;
    margin: 0.5em .5em;
    padding: 0.5em 0;
}
.buttons {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}
.buttons button:hover {
    cursor: pointer;
    background-color:bisque;
}